<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Projets Page</title>
</head>
<body>
    <h1>Projets</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus vel atque ducimus soluta sit ut quaerat voluptate cupiditate dignissimos corporis.</p>
    <div class="projets">
        <h3>Projet 1</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit quod obcaecati est quo ullam numquam distinctio
            laboriosam accusamus commodi iure quia laudantium, necessitatibus, fugiat nemo vitae consequuntur assumenda eum
            incidunt optio blanditiis in ipsa dolores, maiores omnis. Deleniti, consectetur nemo?</p>
        <h3>Projet 2</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit quod obcaecati est quo ullam numquam distinctio
            laboriosam accusamus commodi iure quia laudantium, necessitatibus, fugiat nemo vitae consequuntur assumenda eum
            incidunt optio blanditiis in ipsa dolores, maiores omnis. Deleniti, consectetur nemo?</p>
        <h3>Projet 3</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit quod obcaecati est quo ullam numquam distinctio
            laboriosam accusamus commodi iure quia laudantium, necessitatibus, fugiat nemo vitae consequuntur assumenda eum
            incidunt optio blanditiis in ipsa dolores, maiores omnis. Deleniti, consectetur nemo?</p>
    </div>
</body>
</html>